html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

* { /*TODO Find a more appealing font family.*/
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: #444;

}

body {
    background-color: #efefee; /* #efefee */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulaire {
    background-color: #fff;
    min-height: 300px;
    max-height: 100%;
    width: 500px;
    box-shadow: rgba(0,0,0, 0.2) 0 1px 2px;
    padding: 20px 35px;
    overflow-y: auto;
    justify-content: center;
}

.formulaire form {
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

.formulaire form input[type="submit"],
.formulaire form input[type="button"]{
    background-color: #4285f4;
    color: #fff;
    height: 36px;
    width: 88px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    font-size: 15px;
    margin: 10px 10px 20px 10px;
    cursor: pointer;
}

.submitBTNS{
    display: inline-flex;
}






h3 a{
    color: #dedede;
    text-decoration: none;
}

h3 a:hover{
    color: white;
}

/* wrapper for the whole page */
.wrapper {
    min-width: 1000px;
    min-height: 100%;
    background-color: #1d1d1d; /* background color of the main page #141414 */
}
/* SignIn content */
.signInCont {
    background-color: #efefee; /* #efefee */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* register/login form */
.column {
    background-color: #fff;
    min-height: 300px;
    max-height: 100%;
    width: 450px;
    box-shadow: rgba(0,0,0, 0.2) 0 1px 2px;
    padding: 20px 35px;
    overflow-y: auto;
}

.column form {
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

.column form input[type="text"],
.column form input[type="email"],
.column form input[type="password"] {
    font-size: 14px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #dedede;
    width:100%;
}

.column form input:focus {
    outline: none;
}

.column form input[type="submit"] {
    background-color: #4285f4;
    color: #fff;
    height: 36px;
    width: 88px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.column .header {
    padding: 20px 0;
    display: inline-flex;
    flex-direction: row-reverse;
}
.column h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    padding-top: 1px;
    color: #000;
}
.column .header span {
    font-size: 14px;
}
.SignInMessage {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.SignInMessage:hover {
    text-decoration: underline;
}

/* error in login/register form */
.errorMsg {
    color: #f00;
    font-size: 14px;
    font-weight: 550;
}
.errorMsg > a {
    text-decoration: none;
    font-weight: 520;
}

.errorMsg > a:hover {
    text-decoration: underline;
}

/* preview */
.previewImage,
.previewVideo {
    width: 100%;
}
.previewContainer {
    position: relative;
    display: flex;
}
.previewOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.3);
    position: absolute;
}

.previewOverlay .mediaDetails > h3 {
    color: white;
    font-size: 40px;
    margin: 15px 0;
}

.previewOverlay .mediaDetails {
    position: relative;
    top: 35%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

/* main video preview*/
.mediaDetails .buttons button{
    background-color: rgba(51,51,51,0.4);
    color: white;
    border: none;
    min-width: 150px;
    padding: 0 38px;
    height: 50px;
    max-height: 50px;
    font-size: 18px;
    border-radius: 2px;
    margin-bottom: 15px;
    margin-right: 5px;
    cursor: pointer;
}

.mediaDetails .buttons button:hover {
    background-color: #e6e6e6;
    color: #000;
}

.mediaDetails .buttons button i {
    color: inherit;
}

/* preview boxes on the main page */
.previewBox.small {
    width: 230px;
    height: 129px;
    display: inline-flex;
    margin-right: 10px;
}
.previewBox.small img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* title of the categories on the main page */
.category {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

/* preview boxes on the main page */
.media, .videos{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.previewCategories {
    padding: 0 40px;
}

/* error displaying */
.errorBanner {
    color: white;
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 31px;
}

.errorBanner a {
    color: #827b7b;
}
.errorBanner a:hover {
    color: #ffffff;
}

.season {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
}

.episodeContainer {
    display: inline-flex;
    justify-content: center;
    margin-right: 4px;
}

.episodeContainer .contents {
    display: flex;
    flex-direction: column;
    width: 230px;
}

.episodeContainer img {
    width: 230px;
    height: 129px;
    object-fit: cover;
}

.episodeContainer .videoInfo h4,
.episodeContainer .videoInfo span {
    color: white;
    width: 100%;
    white-space: normal;
}

.episodeContainer .videoInfo {
    max-height: 200px;
    overflow-y: auto;
}

/*Disable scroll for "You might also like" on media page*/
.previewCategories.noScroll .category .media {
    white-space: normal;
}

